<% unless @resources.blank? %>
  <table>
    <thead>
      <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Subject</td>
        <td>Tags</td>
      </tr>
    </thead>
    <tbody>
      <% @resources.each do |resource| %>
        <tr>
          <td><%= link_to resource.title, resource %></td>
          <td><%= truncate resource.description, length: 25 %></td>
          <td><%= resource.subject.title %></td>
          <td><%= resource.tag_list %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No Resources</p>
<% end %>